/* src/App.css */
.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  position: relative;
  background-color: #282c34; /* Dark background for contrast */
  min-height: 100vh;
  color: #FFFFFF; /* White text */
}

.keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.instructions {
  margin-top: 30px;
  font-size: 1.1em;
  color: #FFFFFF;
}

.settings-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #FFEB3B; /* Bright yellow for visibility */
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.2s;
}

.settings-button:hover {
  background-color: #FDD835; /* Slightly darker yellow on hover */
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .settings-button {
    width: 50px;
    height: 50px;
  }

  .key {
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 1em;
  }

  .instructions {
    font-size: 1em;
  }
}